# ==========================
# Common ignore
# ==========================
node_modules
dist
.git
.gitignore
npm-debug.log
Dockerfile
.dockerignore

# ==========================
# Client includes
# ==========================
!client/package.json
!client/package-lock.json
!client/src
!client/vite.config.ts
!client/index.html
!client/postcss.config.js
!client/tailwind.config.ts
!client/tsconfig.json

# ==========================
# Server includes
# ==========================
!server/package.json
!server/package-lock.json
!server/src
!server/tsconfig.json

# ==========================
# Root includes
# ==========================
!package.json
!package-lock.json
!tsconfig.json
!README.md
