# 기본 제외
node_modules
dist
.git
.gitignore
npm-debug.log
Dockerfile
.dockerignore

# client
!client/package.json
!client/package-lock.json
!client/src
!client/vite.config.ts
!client/index.html
!client/postcss.config.js
!client/tailwind.config.ts
!client/tsconfig.json

# server
!server/package.json
!server/package-lock.json
!server/src
!server/tsconfig.json

!package.json
!package-lock.json
!tsconfig.json
!README.md
!server/src